<div class="ui hidden divider"></div>
<div class="container">
    <h2 class="ui dividing header">Flux</h2>
    <div class="ui breadcrumb">
        <a class="section" routerLink="/coin">Coin</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Flux</div>
    </div>
    <div class="ui raised segment">
        <h3 class="ui dividing header">Node</h3>
        <table class="ui selectable celled definition table compare-data">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">CUMULUS</th>
                    <th class="text-center">NIMBUS</th>
                    <th class="text-center">STRATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Nodes</td>
                    <td colspan="3">{{cumulusNode + nimbusNode + stratusNode}}</td>
                </tr>
                <tr>
                    <td>Number Of Node</td>
                    <td>{{cumulusNode}}</td>
                    <td>{{nimbusNode}}</td>
                    <td>{{stratusNode}}</td>
                </tr>
                <tr>
                    <td>Required collateral</td>
                    <td>1,000 FLUX</td>
                    <td>12,500 FLUX</td>
                    <td>40,000 FLUX</td>
                </tr>
                <tr>
                    <td>Block Reward</td>
                    <td>5.625 FLUX</td>
                    <td>9.375 FLUX</td>
                    <td>22.500 FLUX</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>