<div class="ui hidden divider"></div>
<div class="container">
    <h2 class="ui dividing header">Flux</h2>
    <div class="ui breadcrumb">
        <a class="section" routerLink="/coin">Coin</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Flux</div>
    </div>
    <div class="ui raised segment">
        <h3 class="ui dividing header">Node</h3>
        <table class="ui selectable celled definition compact table compare-data" *blockUI="'blockNodeDetail'">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center bg-success bg-opacity-50">CUMULUS</th>
                    <th class="text-center bg-warning bg-opacity-50">NIMBUS</th>
                    <th class="text-center bg-danger bg-opacity-50">STRATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Nodes</td>
                    <td colspan="3">{{getNodeCountAll() | number}}</td>
                </tr>
                <tr>
                    <td>Number Of Node</td>
                    <td>{{cumulusNode | number}}</td>
                    <td>{{nimbusNode | number}}</td>
                    <td>{{stratusNode | number}}</td>
                </tr>
                <tr>
                    <td>Required collateral</td>
                    <td>1,000 FLUX</td>
                    <td>12,500 FLUX</td>
                    <td>40,000 FLUX</td>
                </tr>
                <tr>
                    <td>Block Reward</td>
                    <td>5.625 FLUX</td>
                    <td>9.375 FLUX</td>
                    <td>22.500 FLUX</td>
                </tr>
            </tbody>
        </table>
        <div class="progress">
            <div class="progress-bar bg-success bg-opacity-50" role="progressbar" [ngStyle]="{'width': getNodeCountPercentag(cumulusNode)}">{{getNodeCountPercentag(cumulusNode)}}</div>
            <div class="progress-bar bg-warning bg-opacity-50" role="progressbar" [ngStyle]="{'width': getNodeCountPercentag(nimbusNode)}">{{getNodeCountPercentag(nimbusNode)}}</div>
            <div class="progress-bar bg-danger bg-opacity-50" role="progressbar" [ngStyle]="{'width': getNodeCountPercentag(stratusNode)}">{{getNodeCountPercentag(stratusNode)}}</div>
        </div>
    </div>
</div>