.profile-active {
    color: var(--bs-teal) !important;
}

.trash-data {
    color: var(--bs-red);
    cursor: pointer;
    margin: 0.4rem;
    padding: 0.4rem;
}

.trash-data:hover {
    background-color: var(--bs-gray-200);
}