<div class="ui hidden divider"></div>
<div class="container">
    <h2 class="ui dividing header"><i class="fa-solid fa-user-gear fa-xl"></i> Setting</h2>

    <ng-container *ngIf="isEdit">
        <div class="ui labeled fluid action input">
            <div class="ui teal basic label">Profile Active Name : </div>
            <input [(ngModel)]="imputName" type="text" (keyup.enter)="save()" autofocus>
            <button class="ui teal button" [disabled]="!imputName" (click)="save()">Save</button>
            <button class="ui button" (click)="toggleEdit()">Cancel</button>
        </div>
    </ng-container>
    <ng-container *ngIf="!isEdit">
        <div class="ui labeled fluid action input">
            <div class="ui teal basic label">Profile Active Name : </div>
            <input type="text" [value]="activeProfileName" disabled>
            <div class="ui negative basic button" (click)="editClick()"><i class="fa-solid fa-pencil fa-sm"></i></div>
        </div>
    </ng-container>

    <div class="ui raised segment">
        <h3 class="ui dividing header">My Data</h3>
        
        <div class="ui list">
            <div class="item" *ngFor="let profile of getAllProfile().profile; let i = index">
                <i class="caret right icon invisible"></i>
                <div class="content">
                    <div class="header" [class.profile-active]="isAccountActive(i)">
                        <i class="fa-solid fa-user fa-border"></i> {{profile.name}} <span [hidden]="!isAccountActive(i)">[Active]</span>
                        <a class="trash-data" [hidden]="isAccountActive(i)" data-bs-toggle="modal" data-bs-target="#delProfileConfirm" (click)="clickDeleteProfile(i)"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                    <div class="description">lastupd: {{profile.lastupd}} <span class="fst-italic">({{convertTimeToLocalDateTime(profile.lastupd)}})</span></div>
                    <div class="list">
                        <div class="item" *ngFor="let coin of profile.coin">
                            <i class="caret right icon invisible"></i>
                            <div class="content">
                                <div class="header"><i class="fa-solid fa-coins fa-border"></i> {{coin.name}}</div>
                                <div class="list">
                                    <div class="item" *ngFor="let wallet of coin.wallet; let j = index">
                                        <i class="caret right icon invisible"></i>
                                        <div class="content">
                                            <div class="header">
                                                <i class="fa-solid fa-wallet fa-border"></i> {{wallet}} <span class="fw-lighter fst-italic">({{coin.amount[j]}})</span>
                                                <a class="trash-data" data-bs-toggle="modal" data-bs-target="#delWalletConfirm" (click)="clickDeleteWallet(i, j)"><i class="fa-solid fa-trash-can"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" *ngFor="let node of coin.node">
                                        <i class="caret right icon invisible"></i>
                                        <div class="content">
                                            <div class="header"><i class="fa-solid fa-circle-nodes fa-border"></i> {{node.ip}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delProfileConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delProfileConfirmLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger" id="delProfileConfirmLabel"><i class="fa-solid fa-exclamation"></i> Delete Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Do you want to remove this profile?</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteProfile()">Yes, Delete.</button>
            <button type="button" #closeDelProfileModal class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="delWalletConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delWalletConfirmLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger" id="delWalletConfirmLabel"><i class="fa-solid fa-exclamation"></i> Delete Wallet</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Do you want to remove this wallet?</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteWallet()">Yes, Delete.</button>
            <button type="button" #closeDelWalletModal class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>