<div class="ui hidden divider"></div>
<div class="container">
    <h2 class="ui dividing header"><i class="fa-solid fa-address-card fa-xl"></i> About Us</h2>

    <h3 class="ui dividing header">About This Website</h3>
    <p>This website is made to serve as a portfolio for coin holders.</p>
    <p>This portfolio focuses on node-based coins so that node creators can monitor their node.</p>
    <p>This application is inspired by flux coins that can deploy applications on the decenterlization cloud.</p>

    <div class="ui hidden divider"></div>
    <h3 class="ui dividing header">Your data, you are the custodian.</h3>
    <p>This application is intended to run on flux, a decenterlization cloud.</p>
    <p>This application stores information on your browser, so your information will be taken care of by you.</p>
    <p>This application stores data in localStorage and then retrieves other necessary data from other sources. No user data is collected at all.</p>
    
    <div class="ui hidden divider"></div>
    <h3 class="ui dividing header">Thank You to our Contributors</h3>
    <div class="ui tiny images">
        <a href="https://github.com/thiti-y" target="_blank"><img class="card-user" src="https://avatars.githubusercontent.com/u/7018802?v=4" /></a>
        <a style="padding-left: 1rem;" href="https://github.com/akirashoyaxx" target="_blank"><img class="card-user" src="https://avatars.githubusercontent.com/u/105554459?v=4" /></a>
    </div>
</div>