<div class="footer">
    <div class="container" >
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column">
                <div class="h5">Support</div>
                <a class="defult-color" routerLink="/about-us">About us</a>
                <div class="defult-color">Bug Report</div>
            </div>
            <div class="d-flex flex-column">
                <div class="h5">Donate</div>
                <div class="defult-color">Donate wallet</div>
            </div>
            <div class="d-flex flex-column justify-content-end">
                <div class="d-flex flex-row">
                    <img src="assets/img/favicon.png" height="30" class="mr-2">
                    <div class="ms-2 h2">Fluxfolio</div>
                </div>
                <div class="d-flex flex-row text-center">
                    <div class="defult-color fullwidth">fluxfolio v{{version}}</div>
                </div>
                <div class="d-flex flex-row mt-2 text-center">
                    <div class="defult-color fullwidth">
                        <a href="https://github.com/fluxfolio/fluxfolio" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
                        <i class="fa-brands fa-discord fa-xl ms-3"></i>
                        <i class="fa-brands fa-twitter fa-xl ms-3"></i>
                        <i class="fa-brands fa-telegram fa-xl ms-3"></i>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-5">
            <div class="defult-color">©2022 Fluxfolio All rights reserved.</div>
        </div>
    </div>
</div>