<div class="modal fade" id="addNewWalletMdl" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addNewWalletMdlLabel">Add Wallet</h5>
        </div>
        <div class="modal-body">
            1. Enter your wallet address
            <div class="ui fluid input">
                <input [(ngModel)]="walletInput" type="text" placeholder="Enter Wallet Address">
            </div>

            <br />
            2. Select chains
            <div>
              <ul>
                <li *ngFor="let chain of chains;let i = index">
                  <input (change)="fieldsChange($event, i)" [(ngModel)]="chain.checked" [disabled]="disabledChain(chain.name)" type="checkbox" id="myCheckbox{{chain.name}}" />
                  <label for="myCheckbox{{chain.name}}">
                    <img src="assets/img/coin/{{chain.name}}.png" />
                    <br />
                    <div class="text-center">Flux</div>
                  </label>
                </li>
              </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="ui button" data-bs-dismiss="modal" (click)="clearData()">Close</button>
            <button type="button" class="ui teal button" (click)="addWallet()"><i class="icon add"></i> Add Wallet</button>
        </div>
      </div>
    </div>
</div>