<div class="ui four doubling cards">
    <div class="ui card" *ngFor="let node of getProfileFluxNode().node">
        <div class="content">
            <div class="header">{{node.tier}}</div>
            <a class="ui teal ribbon label">Flux - {{node.ip}}</a>
            <div class="meta"><small>{{node.payment_address}}</small></div>
            <div class="description">
                <div><span class="fw-bold">Last Paid:</span> {{displayTime(node.lastpaid)}}</div>
                <div><span class="fw-bold">Rank:</span> {{node.rank}}</div>
            </div>
        </div>
        <div class="extra content"><span class="fw-bold">Next Paid:</span> {{displayNextPaid(node.rank)}}
        </div>
    </div>
</div>